.home-info {
    padding: 18rpx 0;
    background: #fff;
    .cent {
        margin: 0 20rpx;
    }
    .at-article__p {
        margin-top: 10rpx;
    }
}

.layoutbg {
    background: #fafafa;
    min-height: 100vh;
}