.home-info {
    padding: 18rpx 0;
    background: #fff;
    .cent {
        margin: 0 20rpx;
    }
    .at-article__p {
        margin-top: 10rpx;
    }
}

.layoutbg {
    background: #fafafa;
    min-height: 100vh;
}

.home-tab {
    background: #fff;
    margin: 20rpx 10rpx 10rpx 10rpx;
    .at-col {
        text-align: center;
        .at-button {
            height: 300rpx;
        }
    }
}