@import "../../scss/common.scss"; //组件
.home-info {
    padding: 18rpx 0;
    margin-bottom: 20rpx;
    background: #fff;
    .cent {
        margin: 0 20rpx;
    }
    .at-article__h3 {
        font-size: 30rpx;
    }
    .at-article__p {
        margin-top: 10rpx;
        color: #999;
        font-size: 25rpx;
        text {
            color: rgb(245, 133, 35);
        }
    }
}

.layoutbg {
    background: $col-body;
    min-height: 100vh;
}

.home-tab {
    background: #fff;
    margin: 20rpx 10rpx 10rpx 10rpx;
    .at-col {
        text-align: center;
        .at-button {
            height: 300rpx;
        }
    }
}