@import "../../scss/common.scss"; //组件
@keyframes blink {
    0%,
    100% {
        background-color: #000;
        color: #aaa;
    }
    50% {
        background-color: #bbb;
        /* not #aaa because it's seem there is Google Chrome bug */
        color: #000;
    }
}

.pay_password_list {
    padding-left: 0;
    position: relative;
    left: 10rpx;
    padding: 30rpx 0;
    overflow: hidden;
    .input {
        position: relative;
        z-index: 1;
        .inputText {
            border: solid 3rpx #eee;
            height: 120rpx;
            line-height: 120rpx;
            margin-right: 50rpx;
            text-align: center;
            position: relative;
            z-index: 5;
            &.focus:before {
                content: "";
                animation: blink 1s infinite steps(1, start);
                width: 6rpx;
                height: 50rpx;
                position: absolute;
                top: 37rpx;
                left: 5rpx;
                border-radius: 30rpx;
            }
        }
        .fg {
            text-align: center;
            height: 120rpx;
            line-height: 120rpx;
            position: absolute;
            right: 0;
            width: 50rpx;
            text-align: center;
            top: 0;
            font-size: 28rpx;
            color: #999;
        }
    }
    .hideInput {
        position: absolute;
        bottom: 0;
        height: 100%;
        width: 100%;
        z-index: 55;
        top: 0;
        opacity: 0;
        color: #fff;
        line-height: 9999rpx;
        padding-bottom: 50vh;
    }
}

.pay_push {
    .pay_push_money {
        text-align: center;
        color: $col-main;
        font-size: 60rpx;
        padding: 100rpx 0;
        margin: 0 20rpx;
    }
    .pay_push_text {
        font-size: 30rpx;
        color: #666;
        line-height: 50rpx;
        View {
            padding: 10rpx;
        }
        padding:15rpx 0 40rpx 0;
        margin: 0 20rpx;
        .pay_push_text {
            font-size: 50rpx;
            color: #888;
            text-align: center;
            padding: 20rpx;
        }
    }
    .pay_btn {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        .at-button {
            border-radius: 0;
        }
    }
}

.at-steps {
    .at-steps__title {
        color: #9B9E9F;
        font-size: 30rpx;
    }
    .at-steps__item--active .at-steps__circular {
        background: $col-main;
    }
}

.pay_succes_msg {
    text-align: center;
    color: $col-main;
    font-size: 42rpx;
    padding: 100rpx 0;
    margin: 0 20rpx;
}

.pay_push_text_two {
    font-size: 30rpx;
    color: #9B9E9F;
    line-height: 50rpx;
    text-align: center;
    View {
        padding: 10rpx;
    }
    padding:15rpx 0 40rpx 0;
    margin: 0 20rpx;
    View.bt {
        font-size: 45rpx;
        color: #9B9E9F;
        text-align: center;
        padding: 20rpx;
        .iconfont {
            position: relative;
            z-index: 0;
            top: 12rpx;
        }
    }
}

.item_list_goods {}