@import "./variables.scss"; //组件
@import './iconfont/iconfont.scss';
.text-rignt {
    text-align: right;
}

.text-left {
    text-align: left;
}

.flex-wrp {
    .at-button {
        &.at-button--primary {
            background: $col-main;
            border: 1px solid $col-main;
        }
    }
}

.hr {
    background: $col-body;
    height: 20rpx;
    overflow: hidden;
}